@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&display=swap');

*{
    font-family: 'Didact Gothic', sans-serif;
}
.menu{
    background-color: hsl( 227deg 98% 59% );
    color: white;
}
.completo{
    height: 100vh;
}
.links{
    float: right;
}
.elementoMenu{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.elementoSubMenu{
    display: inline-block;
    padding-right: 30px;
}
.elementoMenu a{
    text-decoration: none;
    color: white;
}
.elementoSubMenu a{
    text-decoration: none;
}
.elementoSubMenu a:hover{
    color: rgb(52, 52, 52);
}
.pantallas{
    margin: 0;
}
#fondoDiente{
    background-image: url(../img/diente.png);
}
.fondo{
    background-image: url(../img/fondo_login.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.cuadro{
    background-image: url(../img/textura_cubo.jpg);
    background-size: cover;
    border-radius: 20px;
}
.servicio{
    box-shadow: 0px 0.3px rgb(41, 41, 41);
}
.precio{
    font-size: 25px;
    text-decoration: underline;
}
.sombra{
    box-shadow: 0px 0.3px rgb(88, 88, 88);
}
.textoNegro{
    color: black;
}
.textoBlanco{
    color: white;
}
.enlaces{
    text-decoration: none;
}
.error{
    color: red;
}