@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&display=swap');

*{
    font-family: 'Didact Gothic', sans-serif;
}
.menu{
    background-color: rgb(0, 72, 227);
    color: white;
}
.links{
    float: right;
    margin-bottom: 0;
}
.elementoMenu{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.elementoMenu a{
    text-decoration: none;
    color: white;
}
#fondoDiente{
    background-image: url(../img/diente.png);
}
.fondo{
    background-image: url(../img/fondo_login.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.cuadro{
    background-image: url(../img/textura_cubo.jpg);
    background-size: cover;
    border-radius: 20px;
}